@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  max-height: 100%;
}

html {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-track {
    border-radius: 16px;
  }

  ::-webkit-scrollbar-thumb {
    background: hsla(263, 51%, 55%, 1);
  }

  ::-webkit-scrollbar-track {
    background: #f3f4f6;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
